@font-face {
	font-family: PT Sans;
	src: local("PT Sans"), local("PTSans-Regular");/* ,url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/S1YQx4pVZa17uu0HWQd2fA.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format("woff");*/
	font-weight: normal;
	font-style: normal;
	font-display: swap; /* Define how the browser behaves during download */
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Italic"), local("PTSans-Italic");/*, url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/PIPMHY90P7jtyjpXuZ2cLPY6323mHUZFJMgTvxaG2iE.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");*/
	font-weight: normal;
	font-style: italic;
	font-display: swap; /* Define how the browser behaves during download */
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic");/*, url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/lILlYDvubYemzYzN7GbLkHZ2MAKAc2x4R1uOSeegc5U.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format("woff");*/
	font-weight: bold;
	font-style: italic;
	font-display: swap; /* Define how the browser behaves during download */
}
@font-face {
	font-family: PT Sans;
	src: local("PT Sans Bold"), local("PTSans-Bold");/*, url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/0XxGQsSc1g4rdRdjJKZrNFQlYEbsez9cZjKsNMjLOwM.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");*/
	font-weight: bold;
	font-style: normal;
	font-display: swap; /* Define how the browser behaves during download */
}
